<xml>
<ToUserName><%= @message[:to_user] %></ToUserName>
<FromUserName><%= Settings["wechat_id"] %></FromUserName>
<CreateTime><%= Time.now.to_i %></CreateTime>
<MsgType>news</MsgType>
<ArticleCount>1</ArticleCount>
<Articles>
<item>
<Title><%= Settings["welcome_message"]["title"] %></Title>
<Description><%= Settings["welcome_message"]["description"] %></Description>
<PicUrl><%= Settings["welcome_message"]["picture"] %></PicUrl>
<Url><%= Settings["welcome_message"]["link"] %></Url>
</item>
</Articles>
</xml>